body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0be;
}
h1 {
    color: #333;
}
canvas {
    margin-top: 20px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a728a7;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #882177;
}
#selectedName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}